body {
    font-family: sans-serif;
    background-color: rgb(107, 88, 60);
}
h1{
    text-align: center;
}
header{
    color: blanchedalmond;
    border: 5px double blanchedalmond;
    border-radius: 10px;
}
img{
    border: 5px double blanchedalmond;
    border-radius: 10px;
}
img:hover{
    transition: 0.5s ease-out;
    padding: 20px;
}
